.comp-search {
	top: 0;
	left: 50%;
	width: 50%;
	margin-left: -25%;
	padding-top: 20px;
	display: table;
	overflow-y: auto;
	position: absolute;
	box-sizing: border-box;
	z-index: 9999;
}

.comp-search .input-container {
	width: 100%;
	padding: 5px;
	border: none;
	display: flex;
	border-radius: 10px;
	margin-bottom: 20px;
	align-items: center;
	box-sizing: border-box;
	transition: box-shadow 0.3s ease;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.comp-search .input-container:hover,
.comp-search .input-container:focus {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.comp-search .logo {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border-radius: 10px;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform 0.3s ease;
}

.comp-search .input-container:hover .logo,
.comp-search .input-container:focus .logo {
	transform: scale(1.2);
}

.comp-search input {
	background: none; /* 将 <input> 的背景设为透明 */
	animation: common-animation-blink 1s ease-in-out infinite; /* 添加闪烁动画 */
}

.comp-search .separator {
	width: 1px;
	height: 20px;
	margin: 0 10px;
	background-color: #ccc;
	transition: opacity 0.3s ease;
}

.comp-search .input-container:hover .separator,
.comp-search .input-container:focus .separator {
	opacity: 0.5;
}

.comp-search .input-text {
	flex: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
}

.comp-search .search-icon {
	width: 20px;
	height: 19px;
	cursor: pointer;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform 0.3s ease-out;
}

.comp-search .search-icon:hover {
	transform: scale(1.2);
}

.comp-search .output-container {
	width: 100%;
}

.comp-search .output-content {
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	position: relative;
	word-break: break-word;
	background-color: #f8f8f8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.comp-search .close-button {
	top: 5px;
	right: 5px;
	opacity: 0.5;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	transition: transform 0.3s ease-out;
}

.comp-search .close-button:hover {
	transform: scale(1.2);
}

.comp-search .output-content:hover .close-button {
	opacity: 1;
}

.comp-search .history-container {
	width: 100%;
	margin: 20px 0px;
}

.comp-search .history-item {
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #f8f8f8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	word-break: break-word;
}

.comp-search .history-item:hover {
	opacity: 0.7;
}

.comp-search .history-item:last-child {
	margin-bottom: 0;
}
