.search-menu-screen {
	min-height: 500px;
	padding: 32px;
	text-align: left;
}

.search-menu-bar {
	height: 30px;
	border-bottom: solid 2px var(--clrPrm);
	border-radius: 4px;
	background: var(--comp-clr);
	display: flex;
	padding: 0 10px;

	.uicon {
		filter: brightness(0.6);
		margin-right: 12px;
	}

	input {
		width: 100%;
		background: inherit;
		color: var(--dark-txt);

		&::placeholder {
			color: var(--txt-col);
		}
	}
}

.search-menu-opts {
	color: var(--med-txt);

	div {
		border: solid 0 var(--clrPrm);
		cursor: pointer;

		&[value="true"] {
			border-bottom-width: 2px;
			color: var(--dark-txt);
		}
	}
}

.search-menu-left-side {
	width: 100%;
}

.search-menu-left-side[data-width="true"] {
	width: 32%;
}

.search-menu-result-smatch {
	background: var(--bg2);
}

.search-menu-result-top-app {
	background: var(--bg2);
	width: 19%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 4px;

	&:hover {
		filter: brightness(0.9);
	}
}

.search-menu-result-quick-searche {
	border-radius: 4px;

	.uicon {
		font-size: 20px;
	}

	&:hover {
		background: var(--bg2);
	}
}

.search-menu-right-side {
	margin: 8px;
	height: 560px;
	background: var(--bg2);
	display: flex;
	flex-direction: column;
	align-items: center;

	.hline {
		width: 90%;
		height: 1px;
		border-radius: 10px;
		background: var(--bg2);
	}
}
