body {
	--dark-txt: #000;
	--alt-txt: #fff;
	--med-dark: #111;
	--txt-col: #222;
	--med-txt: #3c3c3c;
	--comp-txt: #ddd;
	--comp-clr: #e6e6e6;
	--gray-txt: #555;
	--sat-txt: #777;
	--clrPrm: #0067c0;
	--wintheme: #eee;

	--txt_clr-rgb: 0 0 0;
	--base_bg-rgb: 243 243 243;

	--fakeMica: #f3f3f3 radial-gradient(#eff4f9 75%, #f3f3f3 100%) no-repeat fixed;
}

body[data-theme="dark"] {
	--dark-txt: #fff;
	--alt-txt: #000;
	--med-dark: #eee;
	--txt-col: #ddd;
	--med-txt: #c3c3c3;
	--comp-txt: #222;
	--comp-clr: #191919;
	--gray-txt: #aaa;
	--sat-txt: #999;
	--clrPrm: #4cc2ff;
	--wintheme: #1e1e26;

	--txt_clr-rgb: 255 255 255;
	--base_bg-rgb: 32 32 32;

	--fakeMica: #202020 radial-gradient(#1a1f35 25%, #202020 100%) no-repeat fixed;
}
