go 1.21.6

use (
	./golang/z-demo-server
	./golang/z-logger
	./golang/z-wechat-robot
	./golang/z-collect-server
	./golang/z-qq-robot-server
	./golang/z-wechat-robot-server

	./golang/gin-template
	./golang/gin-wechat-server
	./golang/gin-one-api
)
