.tool-bar {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: 28px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-radius: 6px 6px 0 0;

	&[data-float="false"] {
		z-index: 10;
	}

	&[data-back="light"] {
		background: #fefefe;
	}

	&[data-back="dark"] {
		background: #181818;
	}
}

.tool-bar-info {
	height: 100%;

	&[data-float="true"] {
		opacity: 0;
	}

	.uicon {
		margin: 0 10px 0 6px;
	}
}

.tool-bar-btns {
	height: 100%;

	.uicon {
		height: 100%;
		padding: 0 18px;
		transition: all ease-in-out 60ms;

		img {
			transition: all ease-in-out 60ms;
		}

		&:hover {
			background: rgba(136, 136, 136, 0.2);
		}

		&[data-payload="close"]:hover {
			background: rgba(255, 0, 0, 0.8);
			img {
				filter: invert(1);
			}
		}
	}
}

.tool-bar-close-btn {
	border-radius: 0 6px 0 0;
}

.tool-bar-snapbox {
	position: relative;

	&[data-hv="true"] {
		background: rgba(136, 136, 136, 0.2);
	}
}

.tool-bar-resize {
	// height: 100%;
	position: absolute;
	z-index: 12;
	// box-sizing: border-box;
	// border: solid 5px red;
}

.tool-bar-resize-top {
	top: -8px;
	left: 0;
	width: 80%;
	z-index: 22;
}

.tool-bar-resize-left {
	left: -8px;
	height: 100%;
}

.tool-bar-resize-right {
	right: -8px;
	bottom: 0;
	height: 90%;
}

.tool-bar-resize-bottom {
	bottom: -8px;
	left: 0;
	width: 100%;
}

.tool-bar-resize-conrsz {
	width: 8px;
	height: 8px;
	// background: rgba(238, 21, 21, 0.4);
}

.tool-bar-resize-edgrsz {
	min-width: 8px;
	min-height: 8px;
	// background: rgba(21, 54, 238, 0.4);
}

.tool-bar-resize-wdws {
	width: 100%;
}

.tool-bar-resize-hdws {
	height: 100%;
}

body[data-theme="dark"] .tool-bar[data-noinvert="false"] {
	.snapcont {
		background: #222;

		.snapper {
			background: #4e4e4e;
			border: solid 1px #777;
			&:hover {
				background: var(--clrPrm);
				border: solid 1px var(--clrPrm);
			}
		}
	}

	.tool-bar-info-name {
		color: #fefefe;
	}

	.tool-bar-btns {
		.uicon img {
			filter: invert(1);
		}
	}
}
