.desktop-icons {
	width: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.desktop-app {
	margin: 4px;
	height: 84px;
	width: 74px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.8em;
	transition: all ease-in-out 200ms;
	justify-content: center;
	border: 1px solid transparent;

	&:focus {
		background: rgba(255, 255, 255, 0.24);
	}
	&:hover {
		background: rgba(255, 255, 255, 0.12);
	}
	&:focus {
		border: 1px dotted white;
	}

	.app-name {
		text-align: center;
		color: #fafafa;
		margin-top: 4px;
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
	}
}