.start-menu {
	--bg1: rgba(242, 242, 242, 0.9);
	--bg2: rgba(255, 255, 255, 0.9);
	--bg3: rgba(0, 0, 0, 0.033);
	--bg4: #aaa;
	--roundRad: 8px;

	position: absolute;
	left: 0;
	bottom: 12px;
	width: 640px;
	height: min(100% - 24px, 720px);

	color: var(--dark-txt);
	background: var(--bg1);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border-radius: var(--roundRad);
	overflow: hidden;
	transition: all 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86);
	z-index: 9999;
	box-sizing: border-box;

	&[data-align="left"] {
		left: 8px;
	}

	&[data-align="center"] {
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&[data-hide="true"] {
		opacity: 0;
		pointer-events: none;
		transform: translateY(100px);
	}
}

body[data-theme="dark"] .start-menu {
	--bg1: rgba(36, 36, 36, 0.8);
	--bg2: rgba(255, 255, 255, 0.1);
	--bg3: rgba(0, 0, 0, 0.15);
	--bg4: #444;

	.blueicon {
		filter: brightness(4);
	}
}
