.lock-screen {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 1s ease-in-out;

	&[data-unlock="true"] {
		opacity: 0;
	}

	&::after {
		-webkit-backdrop-filter: blur(0);
		backdrop-filter: blur(0);
		transition: all 200ms ease-in-out;
	}

	&[data-blur="true"]::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		-webkit-backdrop-filter: blur(25px);
		backdrop-filter: blur(25px);
		background: rgba(0, 0, 0, 0.1);
	}
}

.slow-fadein {
	opacity: 1;
	animation: slow-fadein 1s ease-in-out;
}

@keyframes slow-fadein {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.splash-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(0);
	transition: all 200ms ease-in-out;

	&[data-faded="true"] {
		opacity: 0;
		pointer-events: none;
		transform: translateY(-200px);
	}
}

.fadein-screen {
	position: absolute;
	top: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transform: translateY(60px);
	transition: all 400ms ease-in-out;
	pointer-events: none;

	&[data-faded="false"] {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0px);
	}

	&[data-unlock="true"] {
		opacity: 0;
	}

	.login-btn {
		background: rgba(255, 255, 255, 0.2);
		font-size: 13px;
		padding: 4px 36px 6px;
		color: #fff;
		border: 2px solid transparent;
		border-radius: 4px;

		&:hover {
			border: 2px solid rgba(255, 255, 255, 0.33);
		}

		&:active {
			border: 2px solid transparent;
			background: rgba(255, 255, 255, 0.33);
		}
	}
}

.sign-option {
	margin-top: 10px;

	.uicon {
		margin: 0 4px;
		cursor: pointer;

		&[data-payload="true"] {
			box-sizing: border-box;
			border: 1px solid #888;
		}
	}
}

.bottom-screen {
	position: absolute;
	bottom: 24px;
	right: 24px;
}
