#comp-time {
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.025);

	margin: 0px;
	padding: 10px;
	overflow: hidden; /* 确保容器内部溢出的内容不可见 */

	background-color: #f2f2f2;
	color: #333333;

	/*animation: comp-time-blink 1s infinite alternate;  添加闪烁动画效果 */
}

@keyframes comp-time-blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	100% {
		opacity: 1;
	}
}

#comp-time::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent); /* 水波渐变色 */
	animation: comp-time-wave 2s infinite linear; /* 添加水波动画效果 */
}

@keyframes comp-time-wave {
	0% {
		transform: translateX(-100%); /* 起始位置 */
	}
	100% {
		transform: translateX(100%); /* 结束位置 */
	}
}
