* {
    box-sizing: border-box;
}

body {
    /* 背景颜色 */
    background-color: #e1e1e1;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.key {
    /* 边框 */
    border: 1px solid #999;
    background-color: #eee;
    /* 阴影 */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    /* 内联弹性伸缩盒 */
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
}

.key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
}