.comp-time-up {
	display: table;
	color: #ffffff;
	background: #0d0d0d;
	margin: auto;
	padding: 10px 10px;
	border-radius: 10px;
	top: 50%;
	left: 10px;
	position: fixed;
}

.comp-time-up * {
	padding: 0;
	margin: 0;
}

.comp-time-up i {
	font-size: 14px;
}

.comp-time-up p {
	font-size: 18px;
}

.comp-time-up div {
	font-size: 20px;
	padding: 5px 0px;
	display: table-cell;
	text-align: center;
}

.comp-time-up div span {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 5px;
}

.comp-time-up span p:first-child {
	font-size: 25px;
}

.comp-time-up span p:last-child {
	font-size: 14px;
}

.comp-time-up div span.year {
	background: #ff0000;
}

.comp-time-up div span.month {
	background: #00ff00;
}

.comp-time-up div span.day {
	background: #91c407;
}

.comp-time-up div span.hour {
	background: #ffa500;
}

.comp-time-up div span.minute {
	background: #ff00ff;
}

.comp-time-up div span.second {
	background: #00ffff;
}

.comp-time-up div span.millisecond {
	background: #800080;
}
