body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.header {
	height: 10vh; /* 上部分占据视口高度的15% */
	/* background-color: #f1f1f1; */
	display: flex;
	justify-content: space-between; /* 将左、中、右三个部分水平间距均匀分布 */
}

.header-left {
	width: 20%; /* 左边占据中间部分的20% */
	margin: 0px 0px 5px 0px;
	display: flex;
	align-items: center; /* 垂直居中 */
	justify-content: center; /* 水平居中 */
	/* background-color: #c3c3c3; */
}

.header-left-logo {
	width: 40px;
	height: 40px;
	margin: 0 10px 0 5px;
	background-size: cover;
}

.header-left-site-name {
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}

.header-middle {
	width: 60%; /* 中间占据中间部分的60% */
	margin: 0px 0px 5px 0px;
	/* background-color: #b1b1b1; */
	display: flex;
	align-items: center; /* 垂直居中 */
	justify-content: center; /* 水平居中 */
}

.header-middle-search-input-box {
	width: 70%;
	padding: 10px;
	margin: 0 5px 0 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.header-middle-search-button {
	border: none;
	padding: 10px 15px;
	margin: 0 10px 0 5px;
	border-radius: 10px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.header-right {
	width: 20%; /* 右边占据中间部分的20% */
	margin: 0px 0px 5px 0px;
	/* background-color: #a0a0a0; */
	display: flex;
	align-items: center; /* 垂直居中 */
	overflow: hidden; /* 超出部分隐藏 */
}

.header-right-slideshow-slide {
	height: 80%;
	margin: 0px 5px 0px 5px;
	display: flex;
	display: inline-block; /* 水平排列 */
	white-space: nowrap; /* 水平定位 */
}

/* 添加动画效果 */
@keyframes slideAnimation {
	0%,
	100% {
		transform: translateX(60%);
	}
	50% {
		transform: translateX(0);
	}
}

/* 设置动画时长和循环方式 */
.header-right-slideshow-slide {
	animation: slideAnimation 5s infinite; /*设置动画时长为5秒，循环无限次 */
}

.content {
	height: 85vh; /* 中间部分占据视口高度的70% */
	/* background-color: #e9e9e9; */
	display: flex;
	justify-content: space-between; /* 将左、中、右三个部分水平间距均匀分布 */
}

.content-left {
	width: 20%; /* 左边占据中间部分的20% */
	padding: 5px 0 5px 0;
	background-color: #ffffff;
	overflow: auto; /* 当内容超出高度时显示滚动条 */
}

.content-left-card {
	margin: 2px;
	border-radius: 5px;
	position: relative;
	background-color: #f0f0f0;
}

.content-left-card-image {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20%;
	height: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content-left-card-top {
	padding: 10px;
	margin-left: 22%;
	font-weight: bold;
}

.content-left-card-bottom {
	padding: 10px;
	text-align: center;
}

.content-middle {
	width: 60%; /* 中间占据中间部分的60% */
	padding: 5px 0 5px 0;
	border-top: 2px solid #ffffff;
	display: flex;
	flex-direction: column;
	overflow: auto; /* 当内容超出高度时显示滚动条 */
	/* background-color: #b1b1b1; */
}

.content-middle-select-time {
	width: 50%;
	padding: 5px 0 0 10px;
	text-align: left;
	font-weight: bold;
}

input[type="datetime-local"] {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
}

input[type="datetime-local"]:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.content-middle-name {
	width: 100%;
	text-align: center;
	font-family: cursive;
	font-size: x-large;
	color: orangered;
}

.content-middle-select-time,
.content-middle-name {
	display: inline-block;
	margin-right: 10px; /* 可根据需要调整间距 */
}

.content-middle-time {
	font-size: 180px;
	font-family: "Times New Roman";
	font-weight: bold;
	text-align: center;
}

.content-middle-date {
	width: 100%;
	text-align: center;
	font-family: fantasy;
	font-weight: normal;
	margin-bottom: 10px;
}

.content-middle-time,
.content-middle-date {
	margin-top: -40px; /* 可根据需要调整间距 */
}

.content-middle-tool {
	width: 100%;
	text-align: center;
	border-top: 2px solid #ffffff;
}

/*下拉框*/
.searchable-select-caret {
	width: auto !important;
}
.searchable-select-holder {
	width: 400px;
	text-align: center;
}

/*下拉框结束*/
.btn-primary:hover {
	background-color: #357ebd;
}

.tl_container .input-group {
	width: 740px;
	margin: 0 auto;
}

.tl_container .input-group span {
	width: 106px;
}

.content-right {
	width: 20%; /* 左边占据中间部分的20% */
	padding: 5px 0 5px 0;
	background-color: #ffffff;
	overflow: auto; /* 当内容超出高度时显示滚动条 */
}

.content-right-card {
	margin: 2px;
	border-radius: 5px;
	position: relative;
	background-color: #f0f0f0;
}

.content-right-card-image {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20%;
	height: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content-right-card-top {
	padding: 10px;
	margin-left: 22%;
	font-weight: bold;
}

.content-right-card-bottom {
	padding: 10px;
	text-align: center;
}

.footer {
	height: 5vh; /* 下部分占据视口高度的5% */
	/* background-color: #dcdcdc; */
	display: flex;
	align-items: center; /* 垂直居中 */
	justify-content: center; /* 水平居中 */
}
.footer a {
	text-decoration: none;
}

.footer a:hover {
	text-decoration: none;
}
