.comp-calendar-plus {
	position: relative;
	width: 385px;
	margin: 100px auto;
	border-radius: 10px;
	background: #1a1a1a;
}

.comp-calendar-plus table {
	width: 385px;
	height: 350px;
	font-size: 14px;
	color: #c4c3c2;
	cursor: default;
	user-select: none;
	text-align: center;
	background: #1a1a1a;
}

.comp-calendar-plus td,
.comp-calendar-plus th {
	display: inline-block;
	width: 42px;
	height: 42px;
	margin: 3px;
	padding: 3px;
}

.comp-calendar-plus table span {
	display: block;
	line-height: 21px;
	background: #1a1a1a;
}

.comp-calendar-plus .disable {
	color: #5a5a5a;
}

.comp-calendar-plus .active span {
	background: #0078d7 !important;
}

.comp-calendar-plus .click {
	background: rgb(12, 108, 184) !important;
}

.comp-calendar-plus .time {
	width: 100%;
	height: 110px;
	padding: 10px;
	background: #1a1a1a;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
	border-bottom: #525253 solid 1px;
}

.comp-calendar-plus .time h1 {
	font-size: 40px;
	font-weight: 200;
	margin: 0;
	color: #fff;
	cursor: default;
	padding: 10px 10px 0px 10px;
}

.comp-calendar-plus .time p {
	font-size: 13px;
	margin: 0;
	cursor: pointer;
	color: #a6d8ff;
	padding: 0px 10px 0px 10px;
}

.comp-calendar-plus .time p:hover {
	color: #5a5a5a;
}

.comp-calendar-plus .date {
	height: 50px;
	line-height: 50px;
	user-select: none;
}

.comp-calendar-plus .date .d {
	color: #a5a6a5;
	font-size: 13px;
	cursor: default;
	padding-left: 20px;
}

.comp-calendar-plus .date .d:hover {
	color: #f0f0f0;
}

.comp-calendar-plus .date .r {
	cursor: default;
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #a5a6a5;
	border-left: 0px solid;
	border-top: 0px solid;
	transform: translateY(-25%) translateX(238px) rotate(45deg);
}

.comp-calendar-plus .date .r:hover {
	border-color: #f0f0f0;
}

.comp-calendar-plus .date .l {
	cursor: default;
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #a5a6a5;
	border-left: 0px solid;
	border-top: 0px solid;
	transform: translateY(25%) translateX(199px) rotate(225deg);
}

.comp-calendar-plus .date .l:hover {
	border-color: #f0f0f0;
}

.comp-calendar-plus .date2 {
	height: 50px;
	line-height: 50px;
	user-select: none;
	border-top: #525253 solid 1px;
	border-radius: 0px 0px 10px 10px;
}

.comp-calendar-plus .date2 .d2 {
	color: #f0f0f0;
	font-size: 15px;
	cursor: default;
	padding-left: 20px;
}
