<!-- 主界面 -->
<div id="zhongjyuan" :class="main_class" :style="main_style" unselectable="on" v-show="ready">
	<win-desktop
		:runtime="runtime"
		:drawer="drawer"
		:configs="configs"
		:apps="apps"
		:shortcuts="shortcuts"
		:wins="wins"
		:badge_text="badge_text"
		:background_class="background_class"
		:background_style="background_style"
		:background_theme_color="background_theme_color"
		:desktop_style="desktop_style"
		:shortcut_class="shortcut_class"
		:shortcut_style="shortcut_style"
		:shortcut_drawer_style="shortcut_drawer_style"
		:win_class="win_class"
		:win_style="win_style"
		:win_icon_style="win_icon_style"
		:win_init_style="win_init_style"
		:win_bar_class="win_bar_class"
		:win_bar_mask_style="win_bar_mask_style"
		@onImageError="image_error"
		@onDrawerMouseDown="drawer_mouse_down"
		@onDesktopClick="desktop_click"
		@onDesktopMouseUp="desktop_mouse_up"
		@onDesktopMouseDown="desktop_mouse_down"
		@onDesktopMouseMove="desktop_mouse_move"
		@onDesktopContextMenu="desktop_context_menu"
		@onShortcutMouseDown="shortcut_mouse_down"
		@onShortcutContextMenu="shortcut_context_menu"
		@onShortcutDrawerStatBadge="shortcut_drawer_stat_badge"
		@onWinHome="win_home"
		@onWinClose="win_close"
		@onWinRefresh="win_refresh"
		@onWinRestore="win_restore"
		@onWinMinimize="win_minimize"
		@onWinMaximize="win_maximize"
		@onWinIsMinimize="win_is_minimize"
		@onWinSetActive="win_set_active"
		@onWinContextMenu="win_context_menu"
		@onWinResizeMouseDown="win_resize_mouse_down"
		@onWinTitleMouseDown="win_title_mouse_down"
		@onWinTitleDoubleClick="win_title_double_click"
		@onWinUrlBarBack="win_urlbar_back"
		@onWinUrlBarBackAvailable="win_urlbar_back_available"
		@onWinUrlBarForward="win_urlbar_forward"
		@onWinUrlBarForwardAvailable="win_urlbar_forward_available"
	></win-desktop>

	<win-bar
		:runtime="runtime"
		:configs="configs"
		:wins="wins"
		:startMenu="startMenu"
		:center="center"
		:badge_text="badge_text"
		:background_theme_color="background_theme_color"
		:bar_class="bar_class"
		:bar_style="bar_style"
		:bar_powered_text="bar_powered_text"
		:bar_powered_class="bar_powered_class"
		:bar_start_button_class="bar_start_button_class"
		:bar_start_button_style="bar_start_button_style"
		:bar_win_task_button_class="bar_win_task_button_class"
		:bar_win_task_button_style="bar_win_task_button_style"
		:bar_show_desktop_button_class="bar_show_desktop_button_class"
		:bar_show_desktop_button_style="bar_show_desktop_button_style"
		:bar_message_center_button_style="bar_message_center_button_style"
		:bar_message_center_badge_style="bar_message_center_badge_style"
		:bar_datetime_button_style="bar_datetime_button_style"
		:bar_tasktray_button_class="bar_tasktray_button_class"
		:bar_tasktray_button_style="bar_tasktray_button_style"
		:tasktray_icon_class="tasktray_icon_class"
		:tasktray_icon_style="tasktray_icon_style"
		@onImageError="image_error"
		@onWinShowSwitch="win_show_switch"
		@onWinContextMenu="win_context_menu"
		@onBarContextMenu="bar_context_menu"
		@onBarStartButtonClick="bar_start_button_click"
		@onBarWinTaskButtonClick="bar_win_task_button_click"
		@onBarShowDesktopButtonClick="bar_show_desktop_button_click"
		@onBarMessageCenterButtonClick="bar_message_center_button_click"
		@onBarDateTimeButtonClick="bar_datetime_button_click"
		@onBarTaskTrayButtonClick="bar_tasktray_button_click"
	></win-bar>

	<win-start-menu
		:runtime="runtime"
		:configs="configs"
		:apps="apps"
		:tiles="tiles"
		:startMenu="startMenu"
		:badge_text="badge_text"
		:menu_item_style="menu_item_style"
		:background_theme_color="background_theme_color"
		:start_menu_transition_class="start_menu_transition_class"
		:start_menu_transition_style="start_menu_transition_style"
		:start_menu_transition_sidebar_class="start_menu_transition_sidebar_class"
		:start_menu_transition_sidebar_mask_style="start_menu_transition_sidebar_mask_style"
		:start_menu_transition_sidebar_top_button_title="start_menu_transition_sidebar_top_button_title"
		:start_menu_transition_menu_style="start_menu_transition_menu_style"
		:start_menu_transition_tile_box_style="start_menu_transition_tile_box_style"
		:start_menu_transition_tile_container_style="start_menu_transition_tile_container_style"
		:start_menu_transition_tile_group_style="start_menu_transition_tile_group_style"
		:start_menu_transition_tile_style="start_menu_transition_tile_style"
		:start_menu_transition_tile_icon_style="start_menu_transition_tile_icon_style"
		:start_menu_transition_tile_custom_iframe="start_menu_transition_tile_custom_iframe"
		@onImageError="image_error"
		@onAppOpen="app_open"
		@onStartMenuTransitionClick="start_menu_transition_click"
		@onStartMenuTransitionResizeMouseDown="start_menu_transition_resize_mouse_down"
		@onStartMenuTransitionSidebarMouseLeave="start_menu_transition_sidebar_mouse_leave"
		@onStartMenuTransitionSidebarTopButtonClick="start_menu_transition_sidebar_top_button_click"
		@onStartMenuTransitionSidebarButtonContextMenu="start_menu_transition_sidebar_button_context_menu"
		@onStartMenuTransitionMenuContextMenu="start_menu_transition_menu_context_menu"
		@onStartMenuTransitionMenuItemClick="start_menu_transition_menu_item_click"
		@onStartMenuTransitionMenuItemContextMenu="start_menu_transition_menu_item_context_menu"
		@onStartMenuTransitionTileClick="start_menu_transition_tile_click"
		@onStartMenuTransitionTileMoved="start_menu_transition_tile_moved"
		@onStartMenuTransitionTileMouseDown="start_menu_transition_tile_mouse_down"
		@onStartMenuTransitionTileContextMenu="start_menu_transition_tile_context_menu"
		@onStartMenuTransitionTileBoxContextMenu="start_menu_transition_tile_box_context_menu"
		@onStartMenuTransitionTileGroupTitleContextMenu="start_menu_transition_tile_group_title_context_menu"
		@onStartMenuTransitionTileGroupTipClick="start_menu_transition_tile_group_title_tip_click"
	></win-start-menu>

	<win-operate-center
		:runtime="runtime"
		:center="center"
		:background_theme_color="background_theme_color"
		:operate_center_class="operate_center_class"
		:operate_center_style="operate_center_style"
		:operate_center_banner_text="operate_center_banner_text"
		:operate_center_banner_clean_button_text="operate_center_banner_clean_button_text"
		:operate_center_message_no_text="operate_center_message_no_text"
		@onOperateCenterBannerCleanButtonClick="operate_center_banner_clean_button_click"
		@onOperateCenterMessageCloseButtonClick="operate_center_message_close_button_click"
	></win-operate-center>

	<win-shortcut-setting
		:runtime="runtime"
		:shortSetting="shortSetting"
		:background_theme_color="background_theme_color"
		:shortcut_setting_style="shortcut_setting_style"
		:shortcut_setting_title_style="shortcut_setting_title_style"
		:shortcut_setting_advance_text="shortcut_setting_advance_text"
		:shortcut_setting_title_text="shortcut_setting_title_text"
		:shortcut_setting_param_key_text="shortcut_setting_param_key_text"
		:shortcut_setting_param_value_text="shortcut_setting_param_value_text"
		:shortcut_setting_param_hash_text="shortcut_setting_param_hash_text"
		@onShortcutSettingClick="shortcut_setting_click"
		@onShortcutSettingAdvanceClick="shortcut_setting_advance_click"
		@onShortcutSettingParamAddClick="shortcut_setting_param_add_click"
		@onShortcutSettingParamDeleteClick="shortcut_setting_param_delete_click"
	></win-shortcut-setting>

	<win-message-preview
		:runtime="runtime"
		:configs="configs"
		:center="center"
		:messagePreviews="messagePreviews"
		:background_theme_color="background_theme_color"
		:message_preview_style="message_preview_style"
		:message_preview_mask_style="message_preview_mask_style"
		@onMessagePreviewClick="message_preview_click"
	></win-message-preview>
</div>
