.comp-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: auto;
	z-index: 9999;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
	font-family: Segoe UI, sans-serif;
}

.comp-popup .titlebar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 18px;
	color: #fff;
	background-color: #0078d7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.comp-popup .titlebar .title {
	font-size: 1.2rem;
	font-weight: bold;
}

.comp-popup .titlebar .close {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 24px;
	color: #fff;
	opacity: 0.8;
}

.comp-popup .titlebar .close:hover {
	opacity: 1;
}

.comp-popup .content {
	padding: 20px;
	text-align: center;
}

.comp-popup .content img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.comp-popup .content p {
	font-size: 1.1rem;
	line-height: 1.5;
}
